$qt-blue: rgb(0, 116, 217);
$qt-red: rgb(254, 1, 57);


body{
	background: $color-gray-light;
	text-rendering: geometricPrecision;
	font-smoothing: subpixel-antialiased;
	-webkit-font-smoothing: antialiased;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@keyframes spinback {
    from {transform:rotate(0deg);}
    to {transform:rotate(-360deg);}
}

@keyframes cirbox {
    0% {border-radius: 50%;}
    50% {border-radius: 00%;}
    100% {border-radius: 50%;}
}

#main{
	width:100%;
	height: 100%;
}

.centerWrap{
	display: table;
	.center{
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
}
.disc{
	width: 100%;
	position: fixed;
	left: 0;
	right: 0;
	text-align: center;
	color: $qt-blue;
	height: 1.5em;
	z-index: 0;
}

.contact{
	position: absolute;
	font-size: 2em;
	z-index: 20;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	transition: all $fast;
	color: rgba($qt-blue, 1);
	fill: rgba($qt-blue, 1);

	&:nth-of-type(1){
		top: 25%;
		left: 75%;
	}
	&:nth-of-type(2){
		top: 50%;
		left: 25%;
	}
	&:nth-of-type(3){
		top: 75%;
		left: 50%;
	}
	&:nth-of-type(4){
		top: 25%;
		left: 25%;
	}

	&:nth-of-type(5){
		top: 75%;
		left: 75%;
	}

	&:hover{
		color: rgba($qt-blue, 1);
		fill: rgba($qt-blue, 1);
		transition: all $fast;
		opacity:1;
	}
	span{
		display: block;
		color: $white;
		line-height: 30px;
	}
}

.box{
	position: absolute;
	width: 10px;
	height: 10px;
	background: rgba($qt-blue, .5);
	border-radius: 50%;
	z-index: 0;
}

.circle{
	position: absolute;
	width: 15px;
	height: 15px;
	border: 1px solid rgba($qt-blue, .5);
	z-index: 0;
}

.top{
	top: 0
}

.bottom{
	bottom: 0;
	transform: rotate(180deg);
	margin-bottom: -.25em;
}

.right{
	top: 0;
	left: initial;
	width: 20px;
	height: 100%;
	@include m(max, $bp-small){
		display: none;
	}
	h4{
		width: 300px;
  		margin-left: -160px;
  		margin-right: -140px;
		transform: rotate(90deg);
	}
}

.left{
	top: 0;
	right: initial;
	width: 20px;
	height: 100%;
	@include m(max, $bp-small){
		display: none;
	}
	h4{
		width: 300px;
		margin-left: -120px;
		transform: rotate(-90deg);
	}
}

path[stroke-linecap="round"]{
	transition: all $fast;
	stroke-width: 1;
	stroke: $qt-blue;
	&:hover {
		transition: all $fast;
		fill: rgba($qt-blue, .5);
		stroke-width: 8;
	}
}

path[stroke-linecap="square"]{
	transition: all $fast;
	stroke-width: 1;
	stroke: $qt-blue;

	&:hover {
		transition: all $fast;
		stroke-width: 8;
		fill: rgba($qt-blue, .5);
	}
}

path[class="stuff"]{
	fill: red;
}
// .fa-twitter{
//     animation: spin 40s infinite linear;
// }

// .email{
//     animation: spinback 40s infinite linear;

// }